@model SocialMediaApplication.ViewComponents.LikeViewComponent.LikeViewModel

    <div>
        <h3>Likes</h3>
        <p>Total Likes: @Model.LikesCount</p>
        <ul>
            @foreach (var userId in Model.Likes)
            {
                <li>
                    @userId
                </li>
            }
        </ul>
    </div>  