<!-- Displays a list of users the current user is following, focused purely on displaying the lists and are meant to be embedded as partial views wherever follower/following data is needed. 
They are not designed to handle interactions like following/unfollowing users directly. -->
@model IEnumerable<SocialMediaApplication.Models.UserFollow>

<div class="following-list">
    <h3>Following</h3>
    <ul>
        @foreach (var following in Model)
        {
            <li>@following.FollowerName</li>
        }
    </ul>
</div>
