@model IEnumerable<SocialMediaApplication.Models.Comment>



<!-- this is the component to add comment-->
<div class="card card-body">
    <div class="text-center row px-2">
        <form action="/" method="post">
            <div class="row d-flex justify-content-between align-items-center py-2">
                <div class="col-md-2 justify-content-center">
                    <img src="images/icon-logo.png" alt="Alternate Text" style="width:30px;" />
                </div>
                <div class="col-md-10">
                    <input class="form-control border rounded-pill" type="type" name="Comment"
                           value="Comment content" />
                </div>
            </div>
            <div class="row d-flex justify-content-end px-2">
                <button class="col-md-2 btn btn-primary w-90 rounded-pill"
                        type="submit">
                    Post
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card card-body">
    @if (Model != null)
    {
        @foreach (var comment in Model)
        {
            @Html.Partial("Components/CommentCard", comment)
        }
    }else
    {
        <p>No comments available.</p>
    }

</div>
   




