@model IEnumerable<SocialMediaApplication.Models.Post>


<!-- this is a sample for creating user's' profile card -->
<div class="card px-2 py-3">
  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top p-2" alt="Chicago Skyscrapers" style="border-radius:50%;" />
  <div class="card-body">
    <h5 class="card-title text-center">User Name</h5>
    <p class="card-text">Descriptions.This is the place to add the descriptions</p>
  </div>

  <!-- These two links bellow is showm for the owner-->
  <div class="card-body d-flex justify-content-center">
    <!-- This link is to follow the owener of this homepage -->
    <a asp-action="Follow" class="btn btn-primary w-100 col-lg-12" style="border-radius:10px;">Edit My Profile</a>
  </div>

  <!-- These two links bellow is showm for others users except owner-->
  <div class="card-body d-flex justify-content-center">
    <!-- This link is to canel your follow to owener of this page-->
    <a asp-action="CancelFollow" class="btn btn-outline-danger w-100" style="border-radius:10px;">Follow Cancel</a>
  </div>


  <div class="card-body row d-flex justify-content-center">
    <!-- This link links to Follow Page, to see all the follows of this user-->
    <a href="/FollowsList" class="col-lg-5 m-1 w-45 text-center" style="text-decoration-line:none">Follows</a>
    <!-- This link links to Follower Page ,to see all the followers of this user-->
    <a href="/FollowersList" class="col-lg-5 m-1 w-45 text-center" style="text-decoration-line:none">Followers</a>
  </div>
    
</div>
