@model SocialMediaApplication.Models.FollowersList

<div class="container">
    <h2 class="text-center">My Followers</h2>
    
    @if (Model.MyFollowers != null && Model.MyFollowers.Any())
    {
        <ul class="list-group">
            @foreach (var follower in Model.MyFollowers)
            {
                <li class="list-group-item d-flex align-items-center">
                  <img src="~/avatars/@follower.FollowerAvatar" alt="Avatar" class="rounded-circle" width="50" height="50" />  
                    <span class="ml-3">@follower.FollowerName</span>
                </li>
            }
        </ul>
    }
    else
    {
        <p>You don't have any followers yet.</p>
    }
</div>
